* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
    

body {
    
    min-height: 100vh;
}

.placer {
    flex: 1;
    background-image: url(images/IMG_0053.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    display: flex; 
}

.placer-inner {
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: rgba(203, 245, 228, 0.7);   
}

.placer-title {
    font-family: 'Playfair Display', serif;
    color: #374e45;

}

.container {
    display: flex;
    height: 100vh;
    gap: 20px;
    background-image:linear-gradient(to top left, #1e4d3a ,#cbf5e4);  
}

.placer-inner img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 20vh;
    border-radius: 90%;    
}

.info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    
}

.text1 {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
}

.title {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
}

.text {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
} 

.personalInfo {
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 5px;
    background-color: #374e45;
    color: #cbf5e4;
    
}

.personalInfo legend {
    margin-bottom: 10px;
    font-weight: 600;
}

.choose {
    font-family: 'Oswald', sans-serif;
    background-color: #374e45;
    color: #cbf5e4; 
}

.choose legend {
    text-align: left;
    font-weight: 600;
}

.choose label {
    padding-right: 20px;
}



button {
    background-color: #374e45;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 8px;
    color: #cbf5e4;
    align-items: center;
    margin: 0 auto;
    box-shadow: #cbf5e4;
}


@media screen and (max-width: 1020px){
    .personalInfo {
        grid-template-columns: auto auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 830px){
    .text, .text1, .title {
        font-size: 1rem;
        font-weight: 600;   
    }

    .placer-title {
        font-size: 1.5rem;
    }

    .personalInfo,.choose, button {
        font-size: 0.8rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 690px){
}
